*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.google_btn{
  background-color: rgb(8, 174, 230) !important;
  /* padding: 2px 20px !important; */
  margin-top: 20px;
}
.dashboard{
  background-color: rgb(65, 59, 59);
  display: inline-block;
  height: 80vh;
  width: 10rem;
}
.dashboard .nav{
font-size: 20px;
text-decoration: none;
font-weight: 500;
font-style: none;
color: white;
margin: 5px;
}
.dash_container{
  margin-top: 20px;
}
.mr{
  padding:8px 4px ;
  
}
.flex_container{
  display: inline-flex;
}
.header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 85vw;

}

.fa-user-circle{
  font-size: 25px;
}
.para{
  margin-left: 15px;
  font-size: 20px;
}

.btn2{
  color: white;
  font-size: 15px;
  background-color: rgb(65, 59, 59);
  border: none;
  padding: 10px 8px;
  cursor: pointer;
}